<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>

    </title>

</head>
<body>
<footer>
  <ul style="list-style: none; padding: 0; display: flex; justify-content: center; gap: 1em; font-family: 'Times New Roman', Times, serif ;font-size: 0.9em;">
    <li><a href="#" style="color: inherit; text-decoration: none;">Conditions of Use</a></li>
    <li><a href="#" style="color: inherit; text-decoration: none;">Privacy Notice</a></li>
    <li><a href="#" style="color: inherit; text-decoration: none;">Consumer Health Data Privacy Disclosure</a></li>
    <li><a href="#" style="color: inherit; text-decoration: none;">Your Ads Privacy Choices</a></li>
  </ul>
  <p style="text-align: center; font-size: 0.9em;">&copy;Copyright ©2025 Bokhtear Md Abid. All rights reserved </p>
</footer>

</body>
</html>