{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="../../static/css/style_sing_up.css">
    <link href='{% static "css/style_sing_up.css" %}' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container">
        <div class="signup-box">
            <p class="login-text">Have an account? <a href="{% url 'sing_in' %}">Login</a></p>
            <h1>Sign Up</h1>
            <form>
                <div class="input-group">
                    <input type="text" placeholder="First name" required>
                    <input type="text" placeholder="Last name" required>
                </div>
                <input type="number" placeholder="Mobile No" required>
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Password" required>
                <button type="submit" class="register-btn">Register</button>
                <div class="footer-options">
                    <label>
                        <input type="checkbox"> Remember Me
                    </label>
                    <a href="#">Terms & conditions</a>
                </div>
                     <div class="back-to-home">
                        <p> Back to
                            <a href="{% url 'home'%}">Home</a> </p>
                     </div>
            </form>
        </div>
    </div>
</body>
</html>