

/*Home page Slider*/
#slider{
    background-image:url(media/products_img/slider1.png);
    height:90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

#slider h4{
    padding-bottom: 15px;
}

#slider h2{
    color: cornflowerblue;

}
#slider button{
    background-image: url(media/products_img/button.png);
    background-color: transparent;
    color:black;
    border: 0px;
    padding: 20px 40px 5px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
}

#products{
    text-align: center;
}

#products .pro{
    width: 23%;
    min-width:250px;
    padding: 10px 12px;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.02s ease;

}
#products .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#products .pro img {
    width: 100%;
    border-radius: 20px;
}

#products .pro .des{
    text-align: start;
    padding: 10px 0;
}

#products .pro .cart{
    text-align: center;
    padding: 5px 0;
    size: 30px;
}
