.title p{
   text-align: center;
   font-size: 30px;
   font-family: Forte;
   color: #2A9D8F;
}
#products{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    padding: 2px 2px 2px 10px;
}

#products .pro{
    width: 23%;
    min-width:250px;
    padding: 10px 12px;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.02s ease;

}


#products .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#products .pro img {
    width: 100%;
    border-radius: 20px;
}

#products .pro .des{
    text-align: start;
    padding: 10px ;
}
#products .pro .des .details .cart-icon{
    padding-left: 50px;
    color: #2A9D8F;


}
#products .pro .des .details button{
    font-style:italic ;
    font-weight:bold;
    cursor: pointer;
    color: #ffffff;

}

