{% extends "base.html" %}
{% load static %}

{% block title %}Home Page{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="../../static/css/home_style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}
{% block content %}
   <section id="slider">
    <h4>Trade in offer</h4>
    <h2>Super Deals</h2>
    <p>Best deal in our website</p>
    <button>Shop Now</button>
    
   </section>

   <section id="feature">
    <div class="fe-box">
        <img src="">

    </div>
   </section>
    <section >
    <h2 align="center">Feature Product</h2>
        <p align="center">Top Collections</p>
    </section>

   <section id="products" class="section-p1">
    <p></p>
    {% for p in products %}
    <div class="pro-container">
        <div class="pro">
            <img src="{{ p.image.url }}" alt="{{ p.name }}" style="max-width: 300px;">
            <div class="des">
            <span>{{ p.brand }}</span>
            <h2>{{ p.name}}</h2>
              <div class="star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            <h4>Price ৳{{ p.price }}</h4>
                <a href="{% url 'product_details' p.p_id %}">
                <button>Details</button>
                </a>
            </div>
            <div class="cart" style="font-size:20px">
              <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
            </div>

        </div>
    </div>
   {% endfor %}
   </section>
{% endblock %}
