<!DOCTYPE html>
<head>
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
    <link rel="stylesheet" href="../../static/css/home_style.css">

</head>
<body>
{% include 'shop/navbar.html' %}
   <section id="slider">
    <h4>Trade in offer</h4>
    <h2>Super Deals</h2>
    <p>Best deal in our website</p>
    <button>Shop Now</button>
    
   </section>

   <section id="feature">
    <div class="fe-box">
        <img src="">

    </div>
   </section>

   <section id="products" class="section-p1">
    <h2> Feature Products</h2>
    <p></p>
    <div class="pro-container">
        <div class="pro">
            <img src="img/product1.jpg">
            <div class="des">
            <span>{{ p.brand }}</span>
            <h2>{{ p.name}}</h2>
              <div class="star">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
              </div>
            <h4>{{ p.price }}</h4>
            <button href="#">Details</button>
            </div>
            <div class="cart">
              <a href="#"><i class="fa fa-cart-plus" aria-hidden="true"></i></a>
            </div>

        </div>

    </div>
   </section>


{% include 'shop/footer.html' %}
</body>