{% extends "base.html" %}
{% load static %}

{% block title %}{{ p.name }} - Details{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/style_product_details.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
{% endblock %}

{% block content %}
<div class="container">
        <h1 class="product-title">A{{p.name}}</h1>

        <div class="tabs">
            <button class="active">General Info</button>
            <button> Order Now </button>
        </div>

        <div class="product-page">
            <div class="image-gallery">
                <img src="{{ p.image.url }}" alt="{{ p.name }}" style="max-width: 300px;" class="main-image">
                <div class="thumbnail-container">
                    <div class="video-thumbnail">
                        <i class="fa-solid fa-play"></i>
                    </div>
                </div>
            </div>

            <div class="product-info">
                <div class="price">
                    <span class="current-price">Price ৳{{ p.price }}</span>
                    <span class="original-price">৳31.00</span>
                    <span class="discount">-50%</span>
                </div><br>

                <div class="size-selector">
                    <label>Size:</label>
                    <select>
                        <option>Please select</option>
                        <option>Shown</option>
                        <option>Small</option>
                        <option>Medium</option>
                        <option>Large</option>
                    </select>
                </div>

                <div class="quantity-cart">
                    <input type="number" value="1" min="1">
                    <button class="btn add-to-cart"><i class="fa-solid fa-cart-shopping"></i> Add to cart</button>
                    <button class="btn favorite"><i class="fa-solid fa-heart"></i> Favourite</button>
                </div>

                <div class="delivery">
                    <h4>Delivery</h4>
                    <p>Free standard shipping on orders over ৳1000 before tax, plus free returns.</p>
                    <table>
                        <tr>
                            <th>Type</th>
                            <th>How Long</th>
                            <th>How Much</th>
                        </tr>
                        <tr>
                            <td align="center">Inside Dhaka</td>
                            <td align="center">1-2 business days</td>
                            <td align="center">৳ 60</td>
                        </tr>
                        <tr>
                            <td align="center">Outside Dhaka</td>
                            <td align="center">2-3 business days</td>
                            <td align="center">৳ 120</td>
                        </tr>
                    </table>
                </div>

                <div class="return-policy">
                    <h4>Return</h4>
                    <p>Please check carefully when you're receiving the parcel.</p>
                </div>

                <div class="social-share">
                    <span>Share:</span>
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-pinterest"></i></a>
                </div>

                <div class="payment-methods">
                    <img src="{% static 'media/products_img/Visa_Logo.png' %}" alt="Visa">
                    <img src="{% static 'media/products_img/BKash_Logo.png' %}" alt="BKash">
                    <img src="{% static 'media/products_img/Nagad_Logo.png' %}" alt="Nagad">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
